name: Build, test, and/or release
env:
  node-version: 12

on:
  push:
    branches: [ master ]
    tags: [ v* ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
    runs-on: ${{ matrix.os }}

    steps:
    - name: Install Dependencies (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt-get install fakeroot dpkg rpm lintian reprepro createrepo xvfb openssl
    - name: Install Dependencies (macOS)
      if: matrix.os == 'macos-latest'
      run: brew install graphicsmagick imagemagick

    - name: Get source
      uses: actions/checkout@v2
    - name: Use Node.js ${{ env.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ env.node-version }}
    - name: Install npm dependencies
      run: npm ci
    - name: Linting
      run: npm run lint

    - name: Building (Linux)
      if: matrix.os == 'ubuntu-latest'
      run: npm run build:linux
    - name: Building (macOS)
      if: matrix.os == 'macos-latest'
      run: npm run build:darwin
    - name: Building (Windows)
      if: matrix.os == 'windows-latest'
      run: |
        npm run pack:windows
        npm run dist:windows

    - name: Testing app
      uses: GabrielBB/xvfb-action@v1.0
      with:
        run: npm run test:app
    - name: Test Linux installers
      if: matrix.os == 'ubuntu-latest'
      run: npm run test:linux

    - name: Linux repositories
      if: matrix.os == 'ubuntu-latest' && startsWith(github.ref, 'refs/tags/')
      run: |
        openssl aes-256-cbc -K $encrypted_6866d25ad40b_key -iv $encrypted_6866d25ad40b_iv -in sig/headset_priv.asc.enc -out headset_priv.asc -d
        npm run repo

    - name: Upload artifacts
      uses: actions/upload-artifact@v2-preview
      with:
        name: installers
        path: build/installers/*

    - name: Retrieve tags
      id: tags
      if: startsWith(github.ref, 'refs/tags/')
      run: node bin/getTags.js

    - name: Create a release
      if: startsWith(github.ref, 'refs/tags/')
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: true
        artifacts: build/installers/*
        body: https://github.com/headsetapp/headset-electron/compare/${{ steps.tags.oldtag }}...${{ steps.tags.newtag }}
        draft: true
        token: ${{ secrets.GITHUB_TOKEN }}

    - name: Deploy Linux repo
      if: matrix.os == 'ubuntu-latest' && startsWith(github.ref, 'refs/tags/') && success()
      uses: crazy-max/ghaction-github-pages@v1
      with:
        build_dir: gh-pages
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
